/* Variables */
:root {
    --basic-white: #FFFFFF;
    --basic-black: #000000;
    --basic-brown: #766357;
    --dark-brown: #604E43;
    --darkest-brown: #503E33;
    --form-back: #F2F2F2;
    --basic-blue:  #81B3D2;
    --dark-blue: #669EC0;
    --darkest-blue: #5496BD; 
    --basic-background: #EEEEEE;
    --light-black: #333333;
   
}

/* Global */

body {
    width: 1200px;
    margin: 0;
    padding: 0;
    position: relative;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    color: var(--basic-black);
    text-transform: uppercase;
    background-color: var(--basic-white);
    background-position: top center;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
  }

  a {
      text-decoration: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }


  /* Grid */

.page {
    height: 100%;
}

 /* Main-navigation */ 


.main-navigation-wrapper {
    width: 1200px;
    margin: 0 auto;
    padding: 0 auto;
}

.main-navigation {
    position: relative;
}

.main-logo {
    position: absolute;
    left: calc(50% - 68px);
    z-index: 1;   
}

.site-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.site-navigation,
.result-list {
    list-style: none;
}

/* User-navigation */

.site-navigation-item {
    width: 300px;
    height: 56px;
    text-align: center;
    padding-top: 14px;
    box-sizing: border-box;
}

.site-navigation-item--right {
    margin-right: 231px;
}

.site-navigation a {
    color: var(--basic-black);
}

.site-navigation a:hover {  
    color: var(--basic-blue);
}

.site-navigation a:active {
    opacity: 0.3;
}
 
/* Conatiner */

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 auto;
}

/* Почему не центрируется? */

.intro {
    position: relative;
    background-image: url(../img/background-photo.jpg);
    height: 509px;
    display: grid;
}

.intro-text {
    padding-top: 50px;
    justify-self: center;
}

.polygon {
position: absolute;
width: 1200px;
height: 57px;
top: 452px;
background-image: url(../img/shape.png);
background-repeat: no-repeat;
background-size: cover;
}

/* Features */

.title {
    font-size: 21px;
    line-height: 26px;
    color: var(--basic-black);
}

.reasons {
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: var(--light-black)
}

.title,
.reasons {
    text-align: center;
}

.features{
    margin-bottom: 58px;
}

.features-list {
    padding: 0;
    margin: 0;
    list-style: none;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: var(--light-black);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 
    auto
    auto
    auto
    auto;     
    gap: 0;
}



.town-photo {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
}

.town-photo--img {
    height: 256px;
    width: 800px;
}

.bridge-photo {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
}

.features-list h3 {
    font-weight: bold;
    font-size: 21px;
    line-height: 21px;
    color: var(--basic-black);
}



.feature-item {
    margin: 0;
    padding: 0;
    text-align: center;
    width: 400px;
    height: 330px;
}

.feature-item h2 {
    font-size: 21px;
    line-height: 21px;
    color: var(--basic-black);
}

.features-list li:nth-child(8), 
.features-list li:nth-child(9),
.features-list li:nth-child(10) {

    width: 400px;
    height: 256px;
    text-align: center;
    background-color: var(--basic-background)
}

.feature-top {   
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: var(--basic-white);
    background: var(--basic-blue);
    width: 400px;
    height: 256px;
    text-align: center;
}

.feature-top h2{
    font-weight: bold;
    font-size: 21px;
    line-height: 21px;
    color: var(--basic-white);
    margin-top: 47px;
    margin-bottom: 25px;
}

.feature-top span {
    margin-bottom: 23px;
}


/* appointment */
.appointment {
    text-align: center;
}

.appointment h3{
    font-size: 30px;
    line-height: 24px;
}

.appointment p{
    font-weight: 400;
    font-size: 14px;
    Line-height: 24px;
}

/* inner-page */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

.filter-container {
    display: flex;

}

.infrastructure-filter .housing-filter{
    display: flex;
    flex-direction: column;
}

.filter-column, 
.filter-column1 {
    display: flex;
    flex-direction: column;
}

.filter-column {
    margin-left: 73px;
    margin-right: 117px;
}


.checkbox {
    margin-top: 25px;
}

.catalog-filter {
    width: 1200px;
    height: 217px;
    background-image: url("../img/bg-image.jpg");
    background-repeat: no-repeat;
}

.show-button {
    border: none;
    outline: none;
    opacity: 0.3;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    
    
    
    width: 137px;
    height: 36px;
    
}



.sorting {
    display: flex;
    justify-content: space-around;
}

.search-results p {
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
}

.sorting-list {
    list-style: none;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px; 
}



.sorting-item { 
    
    color: rgba(0, 0, 0, 0.3);
    border-bottom: 1px dotted var(--basic-blue);
     
}

.sorting-item:hover { 
    color: var(--basic-blue);
    border: unset;
}

.sorting-item:focus {
    color: var(--basic-blue);
    border: unset;
}

.sorting-item:active { 
    color: var(--basic-black);
    border: unset;
} 

.result-container {
    display: flex;
    flex-direction: column;
}

.result-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: start;
    width: 1200px;
    height: 150px;
    border: 1px solid #E5E5E5;
    border-collapse: collapse;     
}

.result-item img {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    margin-top: 30px;
    margin-left: 73px;
}

.result-column {
    grid-column: 2 / 4;
    grid-row: 1 / 6;
    justify-self: startf;
    margin-left: 0;
}

.result-item h3 {
font-weight: bold;
font-size: 21px;
line-height: 26px;
}

.result-item span {
    font-size: 14px;
    line-height: 21px;
    color: var(--light-black)
}

.result-column1 {
    grid-column: 4 / 6;
    grid-row: 4 / 6;
    margin-right: 73px;
    margin-bottom: 30px;
}


.result-item a {
    text-decoration: none;
    color: var(--basic-black);
}

.result-item a:hover {
    color: var(--basic-blue);
}

.result-item a:active{
    color: var(--basic-black)
    /* opacity: 1; Спросить почему опять не работает... */
}

.details-button {
    font-size: 14px;
    line-height: 21px;
    color: var(--basic-white);
    background-color: var(--basic-blue);
    width: 110px;
    height: 27px;  
}

.details-button:hover {
    background-color: var(--dark-blue);
}

.details-button:active { /* Спросить как правильно добавить прозрачность ТОЛЬКО тексту */
    background-color: var(--darkest-blue); 
    opacity: 0.3;
}

.book-button {
    line-height: 21px;
    color: var(--basic-white);
    background-color: var(--basic-brown);
    width: 142px;
    height: 27px;
}

.book-button:hover {
    background-color: var(--dark-brown);
}

.book-button:active { /* Спросить как правильно добавить прозрачность ТОЛЬКО тексту */
    background-color: var(--darkest-brown);    
}
/* main-footer */

/* Узнать, почему не центрируется по человечески */

.main-footer {
    position: absolute;
    bottom: 0px;
    background: rgba(255, 255, 255, 0.9);
}

.main-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 120px;
    }

.footer-contacts {
    margin: 0;
    width: 400px;
    text-align: center;
}

.footer-contacts a{
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    color: var(--basic-black);   
}

.footer-contacts a{ /* Можно ли как-то избежать этой строчки? */
    text-decoration: none;
}

.footer-contacts a:hover {
    color: var(--basic-blue);
}

.footer-contacts a:active {
    opacity: 0.3;
}

.footer-social {
    display: flex;
    justify-content: center;
    width: 400px;
    
}

.footer-social-flex {
    list-style: none;
    display: flex;
    width: 150px;
    justify-content: space-between;
}

.social-button {
    display: inline-block;
    text-align: center;
    padding-top: 16px;
    box-sizing: border-box;
    background: var(--basic-blue);
    width: 46px;
    height: 48px;
    fill: var(--basic-white);
}

.social-button:hover {
    background: var(--dark-blue);
}

.social-button:active{
    background: var(--darkest-blue);
    fill-opacity: 0.3;
}

.academy-logo {
    display: flex;
    width: 400px;
}

.academy:hover {
    fill: var(--basic-blue);
}

.academy:active {
    fill: #BDBBBC;
}

.paragraph-margin {
    margin-right: 8px;
}

/* Modal */

.modal-window {
    margin-left: auto;
    margin-right: auto;
    width: 568px;
    height: 395px;
    font-weight: bold;
    text-align: center;
}

.modal-button {
    outline: 0;
    border: 0;
    width: 568px;
    height: 86px;
    color: var(--basic-white);
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    background-color: var(--basic-brown);
}

.modal-button:hover {
    background-color: var(--dark-brown);
}

.modal-button:active {
    background-color: var(--darkest-brown);
    color: rgba(255,255,255, 0.3)  ;

}

.hotel-search {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: baseline;
 
}

.modal-label-arrival {
    margin-top: 55px; 
    margin-left: 54px;
     

}

.modal-label-departure {
    margin-top: 29px;
    margin-left: 50px;

}

.modal-form-arrival,
.modal-form-departure {
    margin-left: 20px;
    border: 0;
    width: 346px;
    height: 38px;
    background-color: var(--form-back);
    font-weight: bold;
    
}



.modal-label-adults {
    margin-top: 42px;
    margin-left: 54px;
}

.modal-label-kids {
    margin-left: 53px;
    margin-right: 20px;
}

.modal-form-adults,
.modal-form-kids {
    text-align: center;
    border: 0;
    width: 114px;
    height: 38px;
    background-color: var(--form-back);
    font-weight: bold; 
}

.modal-form-adults {
    margin-left: 36px;
}

.modal-form-arrival:hover,
.modal-form-departure:hover,
.modal-form-adults:hover,
.modal-form-kids:hover {
    background: #EBEBEB;
}

.modal-form-arrival:focus,
.modal-form-departure:focus,
.modal-form-adults:focus,
.modal-form-kids:focus {
    background: var(--basic-white);
    border: 2px solid #E5E5E5;
}


.hotel-search-button {
    margin-top: 54px;
    margin-left: 54px;
    margin-right: 56px;
    margin-bottom: 55px;
    width: 458px;
    height: 58px;
    text-align: center;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    color: var(--basic-white);
    border: 0;
    background-color: var(--basic-blue);
    text-transform: uppercase;
 
}

.hotel-search-button:hover {
    background-color: var(--dark-blue);
}

.hotel-search-button:active {
    color: rgba(255,255,255,0.3);
    background-color: var(--darkest-blue);
}