/* Variables */
:root {
    --basic-white: #FFFFFF;
    --basic-black: #000000;
    --basic-brown: #766357;
    --dark-brown: #604E43;
    --darkest-brown: #503E33;
    --form-back: #F2F2F2;
    --basic-blue:  #81B3D2;
    --dark-blue: #669EC0;
    --darkest-blue: #5496BD; 
    --basic-background: #EEEEEE;
    --light-black: #333333;
    --rating: #666666;
    --background-gray: #f2f2f2;
}

/* Global */

body {
    width: 1200px;
    margin: 0;
    padding: 0;
    position: relative;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: normal;
    color: var(--basic-black);
    text-transform: uppercase;
    background-color: var(--background-gray);
    background-position: top center;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
  }

.wrapper {
    background-color: var(--basic-white);
}

  a {
      text-decoration: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  ul {
      padding: 0;
      margin: 0;
  }


  /* Grid */

.page {
    height: 100%;
}

 /* Main-navigation */ 


.main-navigation-wrapper {
    width: 1200px;
    margin: 0 auto;
    padding: 0 auto;
}

.main-navigation {
    position: relative;
}

.main-logo {
    position: absolute;
    left: calc(50% - 68px);
    z-index: 1;   
}

.site-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.site-navigation {
    list-style: none;
}

.result-list {
    list-style: none;
    display: flex;
    flex-direction: column;
}
/* User-navigation */

.site-navigation-item {
    font-weight: bold;
    width: 300px;
    height: 56px;
    text-align: center;
    padding-top: 14px;
    box-sizing: border-box;
}

.site-navigation-item--right {
    margin-right: 231px;
}

.site-navigation a {
    color: var(--basic-black);
}

.site-navigation a:hover {  
    color: var(--basic-blue);
}

.site-navigation a:active {
    opacity: 0.3;
}
 
/* Conatiner */

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 auto;
}

/* Почему не центрируется? */

.intro {
    position: relative;
    background-image: url(../img/background-photo.jpg);
    height: 509px;
    display: grid;
}

.intro-text {
    padding-top: 50px;
    justify-self: center;
}

.polygon {
position: absolute;
width: 1200px;
height: 57px;
top: 452px;
background-image: url(../img/shape.png);
background-repeat: no-repeat;
background-size: cover;
}

/* Features */

.title {
    font-size: 21px;
    line-height: 26px;
    color: var(--basic-black);
}

.reasons {
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: var(--light-black)
}

.title,
.reasons {
    text-align: center;
}

.features{
    margin-bottom: 58px;
}

.features-list {
    padding: 0;
    margin: 0;
    list-style: none;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: var(--light-black);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 
    256px
    330px
    256px
    256px;     
    gap: 0;
}



.town-photo {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
}

.town-photo--img {
    height: 256px;
    width: 800px;
}

.bridge-photo {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
}

.features-list h3 {
    font-weight: bold;
    font-size: 21px;
    line-height: 21px;
    color: var(--basic-black);
}



.feature-item {
    padding: 0;
    text-align: center;
    width: 400px;
    height: 330px;
}

.feature-item img{
    margin-top: 60px;
}

.feature-item h2 {
    font-size: 21px;
    line-height: 21px;
    color: var(--basic-black);
}

.feature-middle {
    width: 400px;
    height: 256px;
    text-align: center;
    background-color: var(--basic-background)
}

.feature-middle h2 {
    margin-top: 47px;
}

.feature-top {   
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: var(--basic-white);
    background: var(--basic-blue);
    width: 400px;
    height: 256px;
    text-align: center;
}

.feature-top h2{
    font-weight: bold;
    font-size: 21px;
    line-height: 21px;
    color: var(--basic-white);
    margin-top: 47px;
    margin-bottom: 25px;
}

.feature-top span {
    margin-bottom: 23px;
}


/* appointment */
.appointment {
    text-align: center;
}

.appointment h3{
    font-size: 30px;
    line-height: 24px;
}

.appointment p{
    font-weight: 400;
    font-size: 14px;
    Line-height: 24px;
}

/* inner-page */

.filter-form {
    padding: 0 73px;
}

fieldset {
    border: 0;
    margin: 0;
    padding-top: 26.5px;
}

.filter-container {
    display: flex;

}

.infrastructure-filter .housing-filter{
    display: flex;
    flex-direction: column;
    
}



.infrastructure-filter {
    margin-left: 73px;
    margin-right: 117px;
}

.infrastructure-filter label,
.housing-filter label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

label {
    margin-top: 25px;
}

.filter-input-checkbox + label::before {
    content: "";
    position: absolute;
    left: -42px;
    top: 0;
    width: 23px;
    height: 23px;
    background-image: url(../img/checkbox-off.svg);
  }

  .filter-input-checkbox:checked + label::after {
    content: "";
    position: absolute;
    top: 0px;
    left: -42px;
    width: 27px;
    height: 23px;
    background-image: url(../img/checkbox-on.svg);
    
  }

  
  

/* FILTER RANGE */

.filter-range {
    width: 319px;
    margin-left: 229px;
}

.filter-range-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 10px;
    padding-top: 26.5px;
    padding-left: 2px;
}

.price-controls {
    height: 32px;
    border: 2px solid #fff;
    font-size: 0;
    margin-bottom: 18px;
    border-radius: 2px;
    position: relative;
}

.price-controls .min-price {
    text-align: center;
    width: 90px;
    padding-left: 65px;
}

.price-controls input {
    width: 50px;
    margin: 0;
    color: var(--basic-white);
    font-size: 14px;
    background: 0 0;
    border: 0;
    line-height: 1;
}

.price-controls .max-price {
    text-align: center;
    width: 90px;
    padding-left: 58px;
}

.price-controls input {
    width: 50px;
    margin: 0;
    color: var(--basic-white);
    font-size: 14px;
    background: 0 0;
    border: 0;
    line-height: 1;
}

.price-controls::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 22px;
    background: #fff;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.range-controls {
    position: relative;
    margin-bottom: 32px;
}

.range-controls .scale {
    height: 2px;
    background-color: rgba(255,255,255,.3);
}

.range-toggle {
    width: 4px;
    height: 4px;
    background: #ababab;
    border: 8px solid #fff;
    border-radius: 50%;
    cursor: pointer;
    -webkit-box-shadow: 0 2px 1px 0 rgb(0 1 1 / 20%);
    box-shadow: 0 2px 1px 0 rgb(0 1 1 / 20%);
    position: absolute;
    top: -9px;
}

.range-toggle:hover {
    transform: scale(1.2, 1.2);
}

.range-toggle-min {
    left: 0;
}

.range-toggle-max {
    left: 80%;
}

.btn-transparent {
    display: block;
    margin: 0 auto 0 87px;
    padding: 6px 34px;
    font-size: 14px;
    line-height: 21px;
    color: #fff;
    text-transform: uppercase;
    background: 0 0;
    border: 2px solid #fff;
    border-radius: 2px;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.btn-transparent:hover {
    color: var(--basic-black);
    background-color: var(--basic-white);
 
}

/*  SEARCH RESULTS */

.sorting-block {
    width: 1056px;
    margin-left: auto;
    margin-right: auto;
    height: 87px;
    background-image: none;
    display: flex;
}

.found {
    vertical-align: middle;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    padding: 30px 0;
}

.sorting {
    padding: 30px 0;
    align-items: baseline;
}

.sorting .sorting-link:focus, .sorting .sorting-link:hover {
    color: #81b3d2;
}

.sorting .sorting-link:active {
    color: #000;
    border: 0;
}

.sorting .sorting-title {
    font-size: 12px;
    line-height: 0px;
    font-weight: normal;
    margin-left: 48px;
    display: inline;
    
}

.sorting-title {
    margin-bottom: 5px;
}

.sorting .sorting-link:nth-child(2) {
    margin-left: 34px;
}

.sorting .sorting-link-active {
    color: #81b3d2;
    border: 0;
}

.sorting .sorting-link {
    font-size: 12px;
    line-height: 18px;
    font-weight: normal;
    color: #cacaca;
    cursor: pointer;
    border-bottom: 1px solid #81b3d2;
    border-bottom-style: dotted;
    margin-left: 31px;
}

.sorting-direction {
    margin-left: auto;
    padding: 30px 0;
    cursor: pointer;
}

.arrow-down, .arrow-up {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    display: inline-block;
    vertical-align: baseline;
}

.arrow-up {
    border-bottom: 10px solid #cacaca;
}

.arrow-up:focus, .arrow-up:hover {
    border-bottom: 10px solid #000;
}

.arrow-up:active {
    border-bottom: 10px solid #81b3d2;
}

.arrow-down {
    border-top: 10px solid #cacaca;
    margin-left: 10px;
}

.arrow-down:focus, .arrow-down:hover {
    border-top: 10px solid #000;
}

.arrow-down:active {
    border-top: 10px solid #81b3d2;
}

.active-arrow {
    border-top-color: #81b3d2;
}

.catalog-filter {
    width: 1200px;
    height: 217px;
    background-image: url("../img/bg-image.jpg");
    background-repeat: no-repeat;
    font-size: 14px;
    line-height: 21px;
    color: var(--basic-white);
}

.catalog-filter legend {
    font-weight: bold;
    font-size: 16px;
    margin-top: 30px;
}

.show-button {
    border: none;
    outline: none;
    opacity: 0.3;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    width: 137px;
    height: 36px;
    
}



.sorting {
    display: flex;
    justify-content: space-around;
}

.search-results p {
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
}




.sorting-link:focus {
    color: var(--basic-blue);
    border: unset;
}

.sorting-item:active { 
    color: var(--basic-black);
    border: unset;
} 

.result-container {

}

.result-item {
    display: grid;
    grid-template-columns: 238px 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: start;
    width: 1200px;
    height: 150px;
    border: 1px solid #E5E5E5;
    border-collapse: collapse;    
    position: relative;
}

.result-item::before {
    content: "";
    position: absolute;
    top: 30px;
    right: 71px;
    width: 74px;
    height: 17px;
    background-image: url(../img/star.svg);
    background-repeat: repeat;
}

.result-item:nth-child(2)::before {
    content: "";
    position: absolute;
    top: 30px;
    right: 71px;
    width: 55px;
    height: 17px;
    background-image: url(../img/star.svg);
    background-repeat: repeat;
}

.result-item:nth-child(3)::before {
    content: "";
    position: absolute;
    top: 30px;
    right: 71px;
    width: 36px;
    height: 17px;
    background-image: url(../img/star.svg);
    background-repeat: repeat;
}

.result-item img {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    margin-top: 30px;
    margin-left: 73px;
    margin-right: 0;
}

.result-column {
    grid-column: 2 / 4;
    grid-row: 1 / 6;
    justify-self: start;
    
} 

.result-item h3 {
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    color: var(--basic-black);
    margin-block-start: 0;
    margin-block-end: 0;
    margin-top: 23.5px;
}

.result-item h3:hover {
    color: var(--basic-blue);
}

.result-item h3:active {
    color: rgba(0,0,0,0.3);
}

.result-item span {
    display: inline-block;
    font-size: 14px;
    line-height: 21px;
    color: var(--light-black);
    margin-top: 7px;
}

.result-column1 {
    grid-column: 4 / 6;
    grid-row: 4 / 6;
    margin-right: 73px;
    margin-bottom: 30px;
}



.details-button {
    display: inline-block;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    color: var(--basic-white);
    background-color: var(--basic-blue);
    width: 110px;
    height: 27px;  
    grid-column: 2 / 3;
    padding-top: 4px;
    box-sizing: border-box;
    margin-top: 13.5px;
}

.details-button:hover {
    background-color: var(--dark-blue);
}

.details-button:active { 
    color: rgba(255,255,255,0.3);
    background-color: var(--darkest-blue); 
 
}

.book-button {
    display: inline-block;
    text-align: center;
    font-weight: bold;
    line-height: 21px;
    color: var(--basic-white);
    background-color: var(--basic-brown);
    width: 142px;
    height: 27px;
    padding-top: 4px;
    box-sizing: border-box;
}

.book-button:hover {
    background-color: var(--dark-brown);
}

.book-button:active { 
    background-color: var(--darkest-brown);    
    color: rgba(255,255,255, 0.3);
}

.rating {
    display: block;
    text-align: center;
    width: 110px;
    height: 27px;
    background-color: var(--form-back);
    color: var(--rating);
}

iframe {
    border: 0;
    width: 1199px;
    height: 594px;
}
/* main-footer */

/* Узнать, почему не центрируется по человечески */

.main-footer {
    position: absolute;
    bottom: 0px;
    background: rgba(255, 255, 255, 0.9);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 120px;
}

.catalog-footer {
    bottom: 0px;
    background: rgba(255, 255, 255, 0.9);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 120px;
}

.footer-contacts {
    margin: 0;
    width: 400px;
    text-align: center;
}

.footer-contacts a{
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    color: var(--basic-black);   
}

.footer-contacts a{ /* Можно ли как-то избежать этой строчки? */
    text-decoration: none;
}

.footer-contacts a:hover {
    color: var(--basic-blue);
}

.footer-contacts a:active {
    opacity: 0.3;
}

.footer-social {
    display: flex;
    justify-content: center;
    width: 400px;
    
}

.footer-social-flex {
    list-style: none;
    display: flex;
    width: 150px;
    justify-content: space-between;
}

.social-button {
    display: inline-block;
    text-align: center;
    padding-top: 14px;
    box-sizing: border-box;
    background: var(--basic-blue);
    width: 46px;
    height: 48px;
    fill: var(--basic-white);
}

.social-button:hover {
    background: var(--dark-blue);
}

.social-button:active{
    background: var(--darkest-blue);
    fill-opacity: 0.3;
}

.academy-logo {
    display: flex;
    width: 400px;
}

.academy:hover {
    fill: var(--basic-blue);
}

.academy:active {
    fill: #BDBBBC;
}

.paragraph-margin {
    margin-right: 8px;
}

/* Modal */

.modal-window {
    margin-left: auto;
    margin-right: auto;
    width: 568px;
    height: 395px;
    font-weight: bold;
    text-align: center;
}

.modal-button {
    outline: 0;
    border: 0;
    width: 568px;
    height: 86px;
    color: var(--basic-white);
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    background-color: var(--basic-brown);
}

.modal-button:hover {
    background-color: var(--dark-brown);
}

.modal-button:active {
    background-color: var(--darkest-brown);
    color: rgba(255,255,255, 0.3)  ;

}

.hotel-search {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: baseline;
 
}

.modal-label-arrival {
    margin-top: 55px; 
    margin-left: 54px;
     

}

.modal-label-departure {
    margin-top: 29px;
    margin-left: 50px;

}

.modal-form-arrival,
.modal-form-departure {
    margin-left: 20px;
    border: 0;
    width: 346px;
    height: 38px;
    background-color: var(--form-back);
    font-weight: bold;
    position: relative;
}

.modal-form-arrival::before,
.modal-form-departure::before {
    content: "";
    position: absolute;
    left: 20px;
    width: 16px;
    height: 18px;
    background-image: url("../img/calendar.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}
  

.modal-label-adults {
    margin-top: 42px;
    margin-left: 54px;
}

.modal-label-kids {
    margin-left: 53px;
    margin-right: 20px;
}

.modal-form-adults,
.modal-form-kids {
    text-align: center;
    border: 0;
    width: 114px;
    height: 38px;
    background-color: var(--form-back);
    font-weight: bold; 
}

.modal-form-adults {
    margin-left: 36px;
}

.modal-form-arrival:hover,
.modal-form-departure:hover,
.modal-form-adults:hover,
.modal-form-kids:hover {
    background: #EBEBEB;
}

.modal-form-arrival:focus,
.modal-form-departure:focus,
.modal-form-adults:focus,
.modal-form-kids:focus {
    background: var(--basic-white);
    border: 2px solid #E5E5E5;
}


.hotel-search-button {
    margin-top: 54px;
    margin-left: 54px;
    margin-right: 56px;
    margin-bottom: 55px;
    width: 458px;
    height: 58px;
    text-align: center;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    color: var(--basic-white);
    border: 0;
    background-color: var(--basic-blue);
    text-transform: uppercase;
 
}

.hotel-search-button:hover {
    background-color: var(--dark-blue);
}

.hotel-search-button:active {
    color: rgba(255,255,255,0.3);
    background-color: var(--darkest-blue);
}