/* Variables */
:root {
    --basic-white: #FFFFFF;
    --basic-black: #000000;
    --basic-brown: #766357;
    --basic-blue:  #81B3D2;
    --basic-background: #EEEEEE;
    --light-black: #333333;

}

/* Global */

body {
    min-width: 960px;
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    color: var(--basic-black);
    text-transform: uppercase;
    background-color: var(--basic-white);
    background-position: top center;
    background-repeat: no-repeat;
  }

  a {
      text-decoration: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }


 /* Main-navigation */ 

.site-navigation,
.result-list {
    list-style: none;
}

/* User-navigation */

.site-navigation a {
    color: var(--basic-black);
}

.site-navigation a:hover {  
    color: var(--basic-blue);
}

.site-navigation a:active {
    opacity: 0.3;
}
 
/* Features */

.title {
    font-size: 21px;
    line-height: 26px;
    color: var(--basic-black);
}

.reasons {
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: var(--light-black)
}

.title,
.reasons {
    text-align: center;
}

.features-list {
    list-style: none;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #333333;
}

.features-list h3 {
    font-weight: bold;
    font-size: 21px;
    line-height: 21px;
    color: var(--basic-black);
}

.feature-item h2 {
    font-size: 21px;
    line-height: 21px;
    color: var(--basic-black);
}

.features-list li:nth-child(6), /* Допускается ли использовать такой способ? */
.features-list li:nth-child(7),
.features-list li:nth-child(8) {
    background-color: var(--basic-background)
}

.feature-top {   
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: var(--basic-white);
    background: #81B3D2;
}

.feature-top h2{
    font-weight: bold;
    font-size: 21px;
    line-height: 21px;
    color: var(--basic-white);
}

/* appointment */
.appointment {
    text-align: center;
}

.appointment h3{
    font-size: 30px;
    line-height: 24px;
}

.appointment p{
    font-weight: 400;
    font-size: 14px;
    Line-height: 24px;
}

/* inner-page */

.catalog-filter {
background-image: url("img/bg-image.jpg") no-repeat; /*Почему не подключается фон?*/
    
}

.show-button {
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
}

.search-results p {
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
}

.sorting-list {
    list-style: none;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px; 
}

.sorting-item { /* Спросить про подчеркивание */
    text-decoration: none;
    color: #000000;
    opacity: 0.3;  
}

.sorting-item:hover {
    color: #81B3D2;
    opacity: unset;
}

.sorting-item:active { /* Спросить почему не работает */
    color: var(--basic-black);
       
}

.sorting-item:focus {
    color: var(--basic-blue);
    opacity: 1;
}

.result-item h3 {
font-weight: bold;
font-size: 21px;
line-height: 26px;
}

.result-item p {
    font-size: 14px;
    line-height: 21px;
    color: var(--light-black)
}

.result-item a {
    text-decoration: none;
    color: var(--basic-black);
}

.result-item a:hover {
    color: #81B3D2;
}

.result-item a:active{
    color: var(--basic-black)
    opacity: 1; /* Спросить почему опять не работает... */
}

.details-button {
    line-height: 21;
    color: var(--basic-white);
    background-color: var(--basic-blue);
}

.details-button:hover {
    background-color: #669EC0;
}

.details-button:active { /* Спросить как правильно добавить прозрачность ТОЛЬКО тексту */
    background-color: #5496BD; 
}

.book-button {
    line-height: 21;
    color: var(--basic-white);
    background-color: var(--basic-brown);
}

.book-button:hover {
    background-color: #604E43;
}

.book-button:active { /* Спросить как правильно добавить прозрачность ТОЛЬКО тексту */
    background-color: #503E33;    
}
/* main-footer */


.main-footer {
    background: rgba(255, 255, 255, 0.9);
}

.contacts a{
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    color: var(--basic-black);   
}

.contacts a{ /* Можно ли как-то избежать этой строчки? */
    text-decoration: none;
}

.contacts a:hover {
    color: var(--basic-blue);
}

.contacts a:active {
    opacity: 0.3;
}

.contact-button {
    background: #81B3D2;
}

.contact-button:hover {
    background: #669EC0;
}

.contact-button:active{
    background: #5496BD;
}

